.custom-funds ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: rgba(240, 240, 240, 1);
}

.custom-funds ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
    border-radius: 10px;
    background-color: rgba(240, 240, 240, 0.5);
}

.custom-funds ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
    background-color: #cccccc;
}
